
<div class="col-lg-6">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3><strong> HODL Balance </strong><br> <%= address%></h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>226,000.0000789543  &nbsp <small> HODL</small></h2>
                            <p class="mb-0 w-text">$150.00 USD</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3><strong> Ethereum Balance </strong><br> <%= address%></h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>0.000000000075576661 &nbsp <small> ETH</small></h2>
                            <p class="mb-0 w-text">$2.24 USD</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3><strong> Remainder Eth in HODL contract </strong><br> <%= address%></h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>$0.0000000056666666 <small>ETH</small></h2>
                            <p class="mb-0 w-text"><$0.01 USD</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3><strong> HODL in Pool </strong><br> <%= address%></h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>01.0000000000  &nbsp<small>HODL</small></h2>
                            <p class="mb-0 g-text">$0.06 USD</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
