
<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="ask-box v2 active mt-15">

                        <div class="ask-circle">
                          <img src="../crypto-dash/crypto-buy.png" alt="">
                        </div>
                        <div class="ask-info">
                          <h3 class="w-text boldy mt-15">Buy HODL Commodity</h3>
                          <p class="g2-text mb-0">BUY HODL Commodity token with Ether</p>
                        </div>
                        <div class="ask-arrow">                 
                          <a href="#myModal" data-toggle="modal"><span class="fa fa-angle-right"></span></a>
                        </div>
                     </div>
                </div>
<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="ask-box v2 active mt-15">
                        <div class="ask-circle">
                          <img src="../crypto-dash/crypto-sell.png" alt="">
                        </div>
                        <div class="ask-info">
                          <h3 class="w-text boldy mt-15">Sell HODL Commodity</h3>
                          <p class="g2-text mb-0">Sell HODL Commodity token for Ether</p>
                        </div>
                        <div class="ask-arrow">
                          <a href="#myModalSell" data-toggle="modal"><span class="fa fa-angle-right"></span></a>
                        </div>
                     </div>
                </div>
<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="ask-box v2 active mt-15">
                        <div class="ask-circle">
                          <img src="../crypto-dash/crypto-wallet.png" alt="">
                        </div>
                        <div class="ask-info">
                          <h3 class="w-text boldy mt-15">Manage Pool Commodity</h3>
                          <p class="g2-text mb-0">Sell, withdraw HODL or Ether earning</p>
                        </div>
                        <div class="ask-arrow">
                          <a href="#myModalPool" data-toggle="modal"><span class="fa fa-angle-right"></span></a>
                        </div>
                     </div>
                </div>
 <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
 <a href="/syncNew" class="btn btn-block btn-primary"> Synchronise a new wallet </a>
                 </div>  
     
      <div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                        <h4 class="modal-title">Buy HODL</h4>
                                                    </div>
                                                    <div class="modal-body">
                                            <!-- <div class="tabs-vertical-env"> -->
                                            <h4>Choose a buying option: <br>
                                            <small>NOTE: All transaction here will need to be confirmed or rejected within your metamask account before being send to Ethereum blockchain.</small></h4>
                                            <div class="row tabs-area">
                                                <ul class="nav nav-tabs vertical col-xs-4 col-md-4 left-aligned primary">
                                                    <li class="active">
                                                        <a href="#buy1" data-toggle="tab">
                                                            <i class="fa fa-shopping-cart"></i> Buy
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#buy2" data-toggle="tab">
                                                            <i class="fa fa-shopping-cart"></i> Buy From Reserve
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#buy3" data-toggle="tab">
                                                            <i class="fa fa-user"></i> Buy From Address
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#buy4" data-toggle="tab">
                                                            <i class="fa fa-comment"></i> Buy From Ask
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#buy5" data-toggle="tab">
                                                            <i class="fa fa-arrow-down"></i>Withdraw Remainder Ethereum from Contract
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#buy6" data-toggle="tab">
                                                            <i class="fa fa-arrow-down"></i>Cancel Bid
                                                        </a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content vertical col-xs-8 col-md-8 left-aligned primary">
                                                    <div class="tab-pane fade in active" id="buy1">
															
															<label for="conversion1" class="form-label">Units</label>
															<select class="form-control input-sm m-bot15" id="conversion1" name="conversion1">
																<option value="18">Ether</option>
																<option value="9">Gwei</option>
																<option value="0">Wei</option>
															</select>
                                                            <div class="form-group">

                                                                <label for="amountb1" class="form-label">Amount</label>
                                                                <input type="number" class="form-control" id="amountb1" name="amountb1" placeholder="Enter Amount (ETH)">
                                                            </div>
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small>This will launch a trade order buying HODL with the ethereum sent, if a ask already exist and has enougth balance, it will buy automatically from it, if not, it will buy from the reserve. If the reserve is empy, it will create a bid order</small></span>
                                                                </label>
                                                            </div>
                                                            <button  id="amountbutton1" name="amountbutton1" class="btn btn-block btn-primary">Buy</button>
                                                       
                                                    </div>
                                                    <div class="tab-pane fade" id="buy2">

														
															<label for="conversion2" class="form-label">Units</label>
															<select class="form-control input-sm m-bot15" id="conversion2" name="conversion2">
																<option value="18">Ether</option>
																<option value="9">Gwei</option>
																<option value="0">Wei</option>
															</select>
                                                            <div class="form-group">
																<label for="amountb2" class="form-label">Amount</label>
                                                                <input type="number" class="form-control" id="amountb2" name="amountb2" placeholder="Enter Desired Amount">
                                                            </div>
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small>This will launch a trade order from the reserve and will be resolved automatically. The Ethereum sent will be redistributed randomly to a current HODL owner, including you.</small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton2" name="amountbutton2" class="btn btn-block btn-primary">Buy From Reserve</button>
                                                       
                                                    </div>
                                                    <div class="tab-pane fade" id="buy3">
														
															<label for="conversion3" class="form-label">Units</label>
															<select class="form-control input-sm m-bot15" id="conversion3" name="conversion3">
																<option value="18">Ether</option>
																<option value="9">Gwei</option>
																<option value="0">Wei</option>
															</select>
                                                            <div class="form-group">
                                                                <label for="amountb3" class="form-label">Amount</label>
                                                                <input type="number" class="form-control" id="amountb3" name="amountb3" placeholder="Enter Desired Amount">
                                                                <label for="addressb3" class="form-label">Address</label>
                                                                <input type="text" class="form-control" id="addressb3" name="addressb3" placeholder="Enter Ethereum Address" pattern="^0x[a-fA-F0-9]{40}$">
                                                                <span id="message1"></span>
                                                            </div>
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small> This will launch a buy order to a specific address. The address must have approved the transaction amount and your address or this will fail. </small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton3" name="amountbutton3" class="btn btn-block btn-primary">Buy From Address </button>
                                                       
                                                    </div>

                                                    <div class="tab-pane fade" id="buy4">
															<label for="conversion4" class="form-label">Units</label>
															<select class="form-control input-sm m-bot15" id="conversion4" name="conversion4">
																<option value="18">Ether</option>
																<option value="9">Gwei</option>
																<option value="0">Wei</option>
															</select>
														
                                                            <div class="form-group">
                                                                <label for="amountb4" class="form-label">Amount</label>
                                                                <input type="number" class="form-control" id="amountb4" name="amountb4" placeholder="Enter Desired Amount">
                                                                <label for="addressb4" class="form-label">Address</label>
                                                                <input type="text" class="form-control" id="addressb4" name="addressb4" placeholder="Enter Ask Address" pattern="^0x[a-fA-F0-9]{40}$">
																<span id="message2"></span>
                                                            </div>
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small> This will launch a buy order to a specific address associated with an ask. If the amount of Ether sent is lower or equal the ask with be bougth </small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton4" name="amountbutton4"  class="btn btn-block btn-primary">Buy From Ask </button>
                                                     
                                                    </div>
                                                    
                                                    <div class="tab-pane fade" id="buy5">

														
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small> This will trigger a withdraw from any remainder Ethereum you have in the smart contract as dust from a previous transaction. </small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton5" name="amountbutton5"  class="btn btn-block btn-primary">Withdraw Remainder Ethereum </button>
                                                        
                                                    </div>
                                                    <div class="tab-pane fade" id="buy6">

														
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small> This will cancel a current bid if any. A participant can only have one bid board at a time, any additional bidding will add up to the current board. If none exist it will do nothing. </small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton6" name="amountbutton6" class="btn btn-block btn-primary">Cancel Bid</button>
                                                      
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- </div>  -->

                                        </div>
                                                        
                                                        
                                                        
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 


    <div aria-hidden="true" role="dialog" tabindex="-1" id="myModalSell" class="modal fade" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                        <h4 class="modal-title">Sell HODL</h4>
                                                    </div>
                                                    <div class="modal-body">
                                            <!-- <div class="tabs-vertical-env"> -->
                                            <h4>Choose a sell option:</h4>
                                            <small>NOTE: All transaction here will need to be confirmed or rejected within your metamask account before being send to Ethereum blockchain.</small>
                                            </h4>

                                            <div class="row tabs-area">
                                                <ul class="nav nav-tabs vertical col-xs-4 col-md-4 left-aligned primary">
                                                    <li class="active">
                                                        <a href="#sell1" data-toggle="tab">
                                                            <i class="fa fa-money"></i> Sell
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#sell2" data-toggle="tab">
                                                            <i class="fa fa-comment"></i>  Sell To Bid
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#sell3" data-toggle="tab">
                                                            <i class="fa fa-check"></i> Approve Transaction From Address
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#sell4" data-toggle="tab">
                                                            <i class="fa fa-check"></i> Cancel Ask
                                                        </a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content vertical col-xs-8 col-md-8 left-aligned primary">
                                                    <div class="tab-pane fade in active" id="sell1">

													
															<label for="hodlConversion1" class="form-label">Units</label>
															<select class="form-control input-sm m-bot15" id="hodlConversion1" name="hodlConversion1">
																<option value="10">HODL</option>
																<option value="5">Epsilon</option>
																<option value="0">Iota</option>
															</select>
                                                            <div class="form-group">
                                                                <label for="amounts1" class="form-label">Amount</label>
                                                                <input type="number" class="form-control" id="amounts1" name="amounts1" placeholder="Enter Desired Amount">
                                                            </div>
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small>This will launch a trade order, if a ask already exist and has enougth balance, it will buy automatically from it, if not, it will buy from the reserve. If the reserve is empy, it will create a bid order</small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton7" name="amountbutton7" class="btn btn-block btn-primary">Sell</button>
                                                   
                                                    </div>
                                                    <div class="tab-pane fade" id="sell2">

													
															<label for="hodlConversion2" class="form-label">Units</label>
															<select class="form-control input-sm m-bot15" id="hodlConversion2" name="hodlConversion2">
																<option value="10">HODL</option>
																<option value="5">Epsilon</option>
																<option value="0">Iota</option>
															</select>
                                                            <div class="form-group">
                                                                <label for="amounts2" class="form-label">Amount</label>
                                                                <input type="number" class="form-control" id="amounts2" name="amounts2" placeholder="Enter Desired Amount">
                                                                <label for="addressb2" class="form-label">Address</label>
                                                                <input type="text" class="form-control" id="address2" name="address2" placeholder="Enter Ethereum Address" pattern="^0x[a-fA-F0-9]{40}$">
																<span id="message3"></span>
                                                            </div>
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small>This will launch a trade order, if a ask already exist and has enougth balance, it will buy automatically from it, if not, it will buy from the reserve. If the reserve is empy, it will create a bid order</small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton8" name="amountbutton8" class="btn btn-block btn-primary">Sell To Bid</button>
                                                       
                                                    </div>
                                                    <div class="tab-pane fade" id="sell4">

														
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small> This will cancel a current ask board if any. A participant can only have one ask at a time, any additional asking will add up to the current board. If none exist it will do nothing. </small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton10" name="amountbutton10" class="btn btn-block btn-primary">Cancel Ask</button>
                                                      
                                                    </div>
                                                    <div class="tab-pane fade" id="sell3">

													
															<label for="hodlConversion3" class="form-label">Units</label>
															<select class="form-control input-sm m-bot15" id="hodlConversion3" name="hodlConversion3">
																<option value="10">HODL</option>
																<option value="5">Epsilon</option>
																<option value="0">Iota</option>
															</select>
                                                            <div class="form-group">
                                                                <label for="amounts3" class="form-label">Amount</label>
                                                                <input type="number" class="form-control" id="amounts3" name="amounts3" placeholder="Enter Desired Amount">
																<label for="address3" class="form-label">Address</label>
                                                                <input type="text" class="form-control" id="address3" name="address3" placeholder="Enter Ethereum Address" pattern="^0x[a-fA-F0-9]{40}$">
																<span id="message4"></span>
                                                            </div>
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small>This will launch a Pre-approve a transaction incoming from an address. Enter the amount of HODL you wish to allow to buy. Note that the HODl will be put in escrow until bougth or cancelled. You can cancel approval at any time. </small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton9" name="amountbutton9" class="btn btn-block btn-primary">Approve Transaction For Address</button>
                                                       
                                                    </div>

                                                    
                                                </div>
                                            </div>

                                            <!-- </div>  -->

                                        </div>
                                                        
                                                        
                                                        
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 



   <div aria-hidden="true" role="dialog" tabindex="-1" id="myModalPool" class="modal fade" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                        <h4 class="modal-title">Manage HODL Trading Pool</h4>
                                                    </div>
                                                    <div class="modal-body">
                                            <!-- <div class="tabs-vertical-env"> -->
                                            <h4>Choose an option:</h4>
														<small>NOTE: All transaction here will need to be confirmed or rejected within your metamask account before being send to Ethereum blockchain.</small>
                                            <div class="row tabs-area">
                                                <ul class="nav nav-tabs vertical col-xs-4 col-md-4 left-aligned primary">
                                                    <li class="active">
                                                        <a href="#pool11" data-toggle="tab">
                                                            <i class="fa fa-money"></i> Buy current Pool
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a href="#pool1" data-toggle="tab">
                                                            <i class="fa fa-money"></i> Sell to Pool
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#pool2" data-toggle="tab">
                                                            <i class="fa fa-cog"></i> Withdraw HODL from Pool
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#pool3" data-toggle="tab">
                                                            <i class="fa fa-arrow-up"></i> Withdraw Earnings from Pool
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#pool4" data-toggle="tab">
                                                            <i class="fa fa-arrow-down"></i> Withdraw Remainder Ethereum from Contract
                                                        </a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content vertical col-xs-8 col-md-8 left-aligned primary">
                                                    <div class="tab-pane fade in active" id="pool11">

								
															<label for="conversion5" class="form-label">Units</label>
															<select class="form-control input-sm m-bot15" id="conversion5" name="conversion5">
																<option value="18">Ether</option>
																<option value="9">Gwei</option>
																<option value="0">Wei</option>
															</select>
															</select>
                                                            <div class="form-group">
                                                                <label for="amountp11" class="form-label">Ethereum Amount</label>
                                                                <input type="number" class="form-control" id="amountp11" name="amountp11" placeholder="Enter Ethereum to send">
                                                            </div>
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small>This will buy the current HODL pool. The Pool can only be bougth as a whole.</small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton11" name="amountbutton11" class="btn btn-block btn-primary">Buy current HODL Pool</button>
                                                      
                                                    </div>
                                                    <div class="tab-pane fade in " id="pool1">

													
															<label for="hodlConversion4" class="form-label">Units</label>
															<select class="form-control input-sm m-bot15" id="hodlConversion4" name="hodlConversion4">
																<option value="10">HODL</option>
																<option value="5">Epsilon</option>
																<option value="0">Iota</option>
															</select>
                                                            <div class="form-group">
                                                                <label for="amountp1" class="form-label">Amount</label>
                                                                <input type="number" class="form-control" id="amountp1" name="amountp1" placeholder="Enter Desired Amount">
                                                            </div>
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small>This will sell HODL to the current pool. You can withdraw your token as long as the pool is not sold. Afterward you can withdraw your Ether.</small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton12" name="amountbutton12" class="btn btn-block btn-primary">Sell To Pool</button>
                                                       
                                                    </div>

                                                    <div class="tab-pane fade" id="pool2">

													
															<label for="hodlConversion5" class="form-label">Units</label>
															<select class="form-control input-sm m-bot15" id="hodlConversion5" name="hodlConversion4">
																<option value="10">HODL</option>
																<option value="5">Epsilon</option>
																<option value="0">Iota</option>
															</select>
                                                            <div class="form-group">
                                                                <label for="amountp2" class="form-label">Amount</label>
                                                                <input type="number" class="form-control" id="amountp2" name="amountp2" placeholder="Enter Desired Amount">
                                                            </div>
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small>This will withdraw HODL from the current pool if this address have a balance. Note that there is no balance an error will be returned and gas spent. </small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton13" name="amountbutton13" class="btn btn-block btn-primary">Withdraw HODL From Pool</button>
                                                      
                                                    </div>
                                                    <div class="tab-pane fade" id="pool3">

												
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small>This will withdraw Ether earings from the current pool if this address have a balance. </small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton14" name="amountbutton14" class="btn btn-block btn-primary">Withdraw Ether From Pool</button>
                                                       
                                                    </div>

                                                    <div class="tab-pane fade" id="pool4">

												
                                                            <div class="">
                                                                <label class="">
																	<span class="help-block"><small> This will trigger a withdraw from any remainder Ethereum you have in the smart contract as dust from a previous transaction. </small></span>
                                                                </label>
                                                            </div>
                                                            <button id="amountbutton15" name="amountbutton15" class="btn btn-block btn-primary">Withdraw Remainder Ethereum </button>
                                                       
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- </div>  -->

                                        </div>
                                                        
                                                        
                                                        
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 

