<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="ask-box v2 active mt-15">
                        <div class="ask-circle">
                          <img src="../crypto-dash/crypto-buy.png" alt="">
                        </div>
                        <div class="ask-info">
                          <h3 class="w-text boldy mt-15">Buy HODL</h3>
                          <p class="g2-text mb-0">lorem dolor sit elit.</p>
                        </div>
                        <div class="ask-arrow">
                          <a href=""><span class="fa fa-angle-right"></span></a>
                        </div>
                     </div>
                </div>
<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="ask-box v2 active mt-15">
                        <div class="ask-circle">
                          <img src="../crypto-dash/crypto-sell.png" alt="">
                        </div>
                        <div class="ask-info">
                          <h3 class="w-text boldy mt-15">Sell HODL</h3>
                          <p class="g2-text mb-0">lorem dolor sit elit.</p>
                        </div>
                        <div class="ask-arrow">
                          <a href=""><span class="fa fa-angle-right"></span></a>
                        </div>
                     </div>
                </div>
<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="ask-box v2 active mt-15">
                        <div class="ask-circle">
                          <img src="../crypto-dash/crypto-wallet.png" alt="">
                        </div>
                        <div class="ask-info">
                          <h3 class="w-text boldy mt-15">Manage Pool</h3>
                          <p class="g2-text mb-0">lorem dolor sit elit.</p>
                        </div>
                        <div class="ask-arrow">
                          <a href=""><span class="fa fa-angle-right"></span></a>
                        </div>
                     </div>
                </div>

