<div class="col-lg-12">
                    <section class="box">
						
                        <div class="content-body ">    
                            <div class="row">
                                <div class="crypto-info-wrap">
                                    <div class="col-xs-12">
									<h4>HODL Commodity Price Calculator</h4><br>
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label">Ethereum</label>
                                            <span class="desc">Enter amount in ETH</span>
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="0" id="field-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                            
                                        <div class="form-group">
                                            <label class="form-label">.</label>
                                            <div class="controls">
                                                <img src="../crypto-dash/exchange-arrows.png" class="mt-15 mb-15 center-block" style="width:25px" alt="">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label">HODL Equivalent</label>
                                            <span class="desc">Enter amount in HODL Commodity</span>
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="0" id="field-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-lg-offset-2 col-md-12">
                                        <button type="button" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" style="width:100%">Calculate</button>
                                    </div>
                                </div>
                            </div>
                        </div><div class="clearfix">
                    </section>
                </div>
