
<!-- views/partials/header.ejs -->

    <!-- START TOPBAR -->
    <div class='page-topbar gradient-blue1'>
        <div class='logo-area crypto'>

        </div>
        
	<!-- topbar  start -->
		<% include ../partials/topbar %>
	<!-- stopbar  end -->
	
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">

        <!-- SIDEBAR - START -->

        <div class="page-sidebar fixedscroll">

            <!-- MAIN MENU - START -->
            <div class="page-sidebar-wrapper crypto" id="main-menu-wrapper">

                <ul class='wraplist'>
                    <li class='menusection'>Menu</li>
                    <li class="">
                        <a href="/">
                            <i class="img relative crypto-ic ">
                                <img src="../crypto-dash/icons/1.png" alt="" class="ic1 width-20">
                            </i>
                            <span class="title">HODL Explorer</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/trade">
                            <i class="img">
                                <img src="../crypto-dash/icons/6.png" alt="" class="width-20">
                            </i>
                            <span class="title">Trade HODL</span>
                            <span class="label label-accent">Buy & Sell</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/support">
                            <i class="img">
                                <img src="../crypto-dash/icons/4.png" alt="" class="width-20">
                            </i>
                            <span class="title">Support/Contribute</span>
                        </a>
                    </li>

                </ul>

            </div>
            <!-- MAIN MENU - END -->

        </div>
        <!--  SIDEBAR - END -->
