<div class="col-xs-12">

<div class="input-group primary">
       <div class="input-group-btn">
           <button href"#" type="button" class="btn btn-red aria-expanded="false">
            <i class="fa fa-search"></i>
           </button>
       </div>
       <input type="search" class="form-control  no-left-border form-focus-red" placeholder="Enter ethereum address, txhash">
       </div></div>
<div class="clearfix"></div>
