<div class="col-xs-12">
<form>
	<div class="form-group">
		<div class="input-group primary">
			<input type="search" class="form-control no-left-border form-focus-red" placeholder="Enter ethereum address, txhash">
			<div class="input-group-btn">
			<button href"#" type="submit" class="btn btn-red aria-expanded="false">
				<i class="fa fa-search"></i>
			</button>
       </div>
   </div></div>
   <%if (error) { %>
   <div class="alert alert-warning" role="alert">
  <h5><strong><%= error%></strong></h5>
</div>		
<% } %>
</form>
   </div>       

<div class="clearfix">
