<div class="col-lg-4">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3>HODL Price $USD</h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>$0.06 <small> USD</small></h2>
                            <p class="mb-0 w-text">600.00%<i class="complete fa fa-arrow-up ml-10"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3>HODL Price Eth</h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>0.00000000007557</h2>
                            <p class="mb-0 w-text">600.00%<i class="complete fa fa-arrow-up ml-10"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3>HODL Seller Pool</h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>$0.00 <small> USD</small></h2>
                            <p class="mb-0 g-text">0 Total HODL</p>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
