
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="ref-num-box statistics-box text-center mt-15">
                        <div class="mb-15">
                            
                            <img src="../data/crypto-dash/ref1.png" class="ico-icon-o mt-10 mb-10" alt="">
                            <h4 class="bold mt-10 mb-10">Contribute on Github</h4>
                            <p class="mb-0">This webpage is a community effort. The software is open source and will remain so. </p>
                            <p class="mb-0">The github is opensource LicenceGNU 3.0. This is a very basic greawork and is destined to be rewritten completly. </p>
                             <p class="mb-0"> <br>I thank you all from the HODLdex.com team ! </p>
                            <div class="text-center">
                                <a href="https://github.com/jpbeaudet/HODLDex" class="btn btn-block btn-dark mt-15 btn-corner"><i class="fa fa-github"></i> See Github </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="ref-num-box statistics-box text-center mt-15">
                        <div class="mb-15">
                            
                            <img src="../data/crypto-dash/ref2.png" class="ico-icon-o mt-10 mb-10" alt="">
                            <h4 class="bold mt-10 mb-10">HODL Decentralized Exchange</h4>
                            <p class="mb-0">This application aimed at helping the HODL community to interact with the HODL smart contract. No fee is charged.
                            If you wish to report an issue or you like to request a feature, this will help drive HODLdex.com crowdsourced developments. </p>
                            <p class="mb-0"> <br>I thank you all from the HODLdex.com team ! </>
                            <div class="text-center">
                                <a href="mailto:contact@HODLdex.com" class="btn btn-block btn-primary mt-15 btn-corner"><i class="fa fa-envelope"> </i> Contact HODLdex.com </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>

                <div class="col-lg-12">
                    <section class="box has-border-left-3">
                        <header class="panel_header gradient-blue">
                            <h2 class="title pull-left w-text">Frequently Asked Questions</h2>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="mb-20">General Questions</h3>

                                    <!-- Bootstrap FAQ - START -->
                                    <div class="panel-group no-mb faq-panels" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What are the objectives of this Token?</a>
                                        </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What is the best features and services we deiver?</a>
                                            </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Why this ICO important to me and my business?</a>
                                        </h4>
                                            </div>
                                            <div id="collapseFive" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What do I need to do to get better faster" ?</a>
                                        </h4>
                                            </div>
                                            <div id="collapseSix" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">how may I take part in and purchase this Token?</a>
                                        </h4>
                                            </div>
                                            <div id="collapseEight" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">How do I doctors Affiliate system work ?</a>
                                        </h4>
                                            </div>
                                            <div id="collapseNine" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- bs faq end -->
                                    </div>
                                </div>
                            </div>
                        </div>

