<div class="col-lg-12">
                    <section class="box">
						
                        <div class="content-body ">    
                            <div class="row">
                                <div class="crypto-info-wrap">
                                    <div class="col-xs-12">

									<h4>Synchronise your Ethereum Wallet</h4><br>
                                    <div class="col-lg-12">
                                    <form action="/sync" method="post" id="walletForm">
                                        <div class="form-group">
                                            <label class="form-label">Ethereum Address</label>
                                            <span class="desc">This will synchronise your Ethereum Wallet if you dont use Metamask or Mist browser based wallets, note that any transaction will need to be accepted from the wallet</span>
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="0" id="wallet" name="wallet">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-lg-offset-2 col-md-12">
                                        <button type="submit" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" style="width:100%">Synchronise Wallet</button>
                                    </div>
                                      </form>
                                </div>
                            </div>
                        </div><div class="clearfix">
                    </section>
                </div>
