        <div class='quick-area'>
            <div class='pull-left'>
                <ul class="info-menu left-links list-inline list-unstyled">
                    <li class="sidebar-toggle-wrap">
                        <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="topnav-item item1">
                        <a href="#" class="new-link w-text">Eth2USD: $136.03 <i class="fa fa-arrow-up ml-10"></i> 
                        </a>
                    </li>
                    <li class="topnav-item active item2">
                        <a href="#" class="new-link w-text">HODL2USD: $0.06 <i class="fa fa-arrow-up ml-10"></i> 
                        </a>
                    </li>
                    <li class="topnav-item item3">
                        <a href="#" class="new-link w-text">HODL2Eth: 0.000000000000000251 <i class="fa fa-arrow-down ml-10"></i> 
                        </a>
                    </li>

            

    </div>
