<div class="col-lg-12">
                    <section class="box">
                        <header class="panel_header">
                            <h2 class="title pull-left">Transactions Details <br> <small><%= txid%></small></h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="table-responsive" data-pattern="priority-columns">
                                        <table id="tech-companies-1" class="table  table-small-font no-mb table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Transaction From-To</th>
                                                    <th>Transaction ID</th>
                                                    <th>Block</th>                                                  
                                                    <th>Time</th>
                                                    <th>Status</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><small class="text-muted">From: <a href="#">0xa4ab16fa7f26aa482f2736f386533a406f7b9183</a></small><br><small class="text-muted">To: <a href="#"> 0xc0a9ef5ced45ea39a2b6a4f19fcd78ceeded16ed</a></small></td>
                                                    <td><small class="text-muted"><a href="#">0x50f06d180a25a83361d718561275cf18c88657011218321275072b1d7fdca7b8</a></small></td>
                                                    <td><small class="text-muted">9807193 </small></td>
                                                    <td><small class="text-muted">10:23:45</small></td>
                                                    <td><span class="badge  w-70 round-success">success</span></td>
                                                    <td class="green-text boldy">+0,041ETH</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                    
                </div>

