<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class=" ">

<header>
    <% include ../partials/header %>
</header>

<main>


<!-- START CONTENT --> 
<section id="main-content" class=" ">
<div class="wrapper main-wrapper row" style=''>
            
<!-- Metamask Warning (if metamask is not installed) start -->
	<% include ../partials/metamask_warning %>
<!-- Metamask Warning -->

<!-- Browser Warning (if wrong browser) start -->
	<% include ../partials/browser_warning %>
<!-- Browser Warning -->


 <div class='col-xs-12'>
	<h1 class="title boldy mb-5 mt-15">HODL Explorer <small>BETA v1.0</small></h1>
	<p>This is a free community driven effort, this is the first beta release. Update will be made. Constructive comments and feature request are welcomed !</p>
	<p>Special thanks to free open projects <a href="https://infura.io/" >Infuria.io </a> and <a href="https://metamask.io/" > Metamask </a></p>
	<hr>
</div>

<!-- Preloader start -->
	<% include ../partials/preloader %>
<!-- Preloader end-->
<!-- HODL Explorer searchbar start -->

<!-- searchbar start -->
	<% include ../partials/searchbar %>
<!-- searchbar end -->

<!-- Subheader start -->
	<% include ../partials/subheader %>
<!-- Subheader end -->

<!-- Reserve partial start -->
	<% include ../partials/reserve %>
<!-- Reserve partial-->          

<!-- End .row -->
</div>
</section>
</div>

<div class="clearfix"></div>
 <!-- Market bid&ask partial start -->
	<% include ../partials/bid&ask %>
<!-- Market bid&ask partial-->                

 <!-- MAIN CONTENT AREA ENDS -->
</div>
</section>
<!-- END CONTENT -->

</div>
<!-- END CONTAINER -->
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
