<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class=" ">

<header>
    <% include ../partials/header %>
</header>

<main>

<!-- Preloader start -->
	<% include ../partials/preloader %>
<!-- Preloader end-->

<!-- START CONTENT -->
<section id="main-content" class=" ">
<div class="wrapper main-wrapper row" style=''>
            
<!-- Metamask Warning (if metamask is not installed) start -->
	<% include ../partials/metamask_warning %>
<!-- Subheader end -->
 <div class='col-xs-12'>
<!-- PAGE HEADING TAG - START -->
	<h1 class="title boldy mb-5 mt-15">Support & Contribute</h1>
	<hr>
<!-- PAGE HEADING TAG - END -->



</div>

<!-- HODL Explorer searchbar start -->
<div class="col-xs-12">
<h4 class="title boldy mb-5 mt-15">HODL Explorer Searchbar</h4>
<label class="form-label" for="searchbar"></label>
<div class="controls">
   <input type="text" class="form-control input-lg" id="searchbar" placeholder="Enter ethereum address, txhash">
 </div>
 <br>  
</div>
<div class="clearfix"></div>         
              
<!-- Support start -->
	<% include ../partials/support&faq %>
<!-- Subpport end -->
 <!-- MAIN CONTENT AREA ENDS -->
</div>
</section>
<!-- END CONTENT -->

</div>
<!-- END CONTAINER -->
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
