<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head2 %>
</head>
<body class=" ">

<header>
    <% include ../partials/header2 %>
</header>

<main>
<!-- Preloader start -->
	<% include ../partials/preloader %>
<!-- Preloader end-->
<!-- START CONTENT -->
	
	<section id="main-content" class=" ">
	<div class="wrapper main-wrapper row" style=''>

  <div class='col-xs-12'>
	<h1 class="title boldy mb-5 mt-15">Buy & Sell: <%= address%></h1>
	<hr>
     </div>
<!-- HODL Explorer searchbar start -->
<!-- searchbar start -->
	<% include ../partials/searchbar %>
<!-- searchbar end -->

<!-- buy&sell start -->
	<% include ../partials/buy&sell %>
<!-- buy&sell end -->

<!-- calculator start -->
	<% include ../partials/calculator %>
<!-- calculator end -->

<!-- ddressBalance start -->
	<% include ../partials/addressBalance %>
<!-- ddressBalance end -->
<div class="clearfix"></div>

</div>

<div class="clearfix"></div>
 <!-- Market bid&ask partial start -->
	<% include ../partials/txhistory %>
<!-- Market bid&ask partial-->                

 <!-- MAIN CONTENT AREA ENDS -->
</div>
</section>
<!-- END CONTENT -->

</div>
<!-- END CONTAINER -->
</main>

<footer>
    <% include ../partials/footer2 %>
</footer>

</body>
</html>
